.transparent-bg {
    background-color: #ffffff23;
}

.text-styel {
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 0;
}